*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  /* background-color: #E6EBE; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #2F4858;
}


hr {
  min-width: 80vw;
  margin: 1rem 0 1rem 0;
}

.textIntro {
  margin: 2rem 7.8rem!important;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    
  }
  .links {
    width: 100vw;
    margin: 0 1rem;
  }
}